form {
    margin: auto;
    text-align: center;
}
.large-label {
    display: block;
    font-weight: normal !important;
    margin: 0 auto 0.7em auto;
}
[type="text"] {
    margin: 0 auto 1.5em auto;
    width: 40%;
    height: 1.7em;
    display: block;
    border-radius: 5px;
    border-width: 1px;
}
.btn-add {
    width: 20%;
    height: 2em;
    border-radius: 5px;
    border-width: inherit;
    background-color: #fad223;
}